body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
    color: white;
}

@media screen and (max-width: 600px) {
    .navBar {
        display: none;
        top:0;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 4em;
        background-color: black;
        color: white;
    }

    h1 {
        font-size: 1.2em;
    }
    
    h2 {
        font-size: 1em;
    }

    .card {
        width: 300px;
        height: 300px;
        border-radius: 30px;
        background-color: rgb(53, 53, 53);
        overflow: hidden;
    
        transition: all 0.1s ease-out;
    }
    
    .web-preview {
        width: 300px;
        height: 225px;
        transition: height 0.5s ease-out;
    }
    
    .webname {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 75px;
        opacity: 1;
        transition: height 0.5s ease-out, opacity 0.5s ease-out;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 601px) {
    .navBar {
        display: flex;
        top:0;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 4em;
        background-color: black;
        color: white;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .card {
        width: 400px;
        height: 300px;
        border-radius: 30px;
        background-color: rgb(53, 53, 53);
        overflow: hidden;
    
        transition: all 0.1s ease-out;
    }
    
    .web-preview {
        width: 400px;
        height: 225px; /* 16:9 display */
        transition: height 0.5s ease-out;
    }
    
    .webname {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 75px;
        opacity: 1;
        transition: height 0.5s ease-out, opacity 0.5s ease-out;
    }
}

a {
    color: white;
    text-decoration: none;
}

.navBar-section {
    display: flex;
    flex-direction: column;
    margin: 0 2em 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    overflow: auto;
    height: calc(100vh - 4em);
    scrollbar-gutter: stable both-edges;    /* fix scrollbar squeezing content */
}

.webpage-display {
    width:90%;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.card:hover > a > .web-preview {
    height: 300px;
}

.card:hover > a > .webname {
    height: 0px;
    opacity: 0;
}

.card:hover {
    transform: translate(0, -10px);
}

.card:hover {
    -webkit-box-shadow:0 0 20px rgb(182, 182, 182); 
    -moz-box-shadow: 0 0 20px rgb(182, 182, 182); 
    box-shadow:0 0 20px rgb(182, 182, 182);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3em;
}

.nav-member {
    text-decoration: none;
}

.nav-member-content {
    display: flex;
    align-items: center;
    gap: 0.5em;
}