body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: Comic Sans MS;
    color: white;

    scroll-behavior: smooth;
    background-color: black;
}

/* hide scrollbar, but still functional */
::-webkit-scrollbar { 
    display: none;
}

.parallax {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sky-bg {
    background-image: url("./skyBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300vh;
}

h1 {
    font-size: 7rem;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    font-weight: bold;

}

h3 {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.input-form {
    position: absolute;
    top: 300px;
    align-items: center;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 48em;

    left: 50%;
    transform: translate(-50%, -50%);
}

.input-form::after {
    content: "";
    width: 50em;
    height: 4px;
    border-radius: 5px;
    background-color: white;
    display: block;
}

.input-box {
    width: 100%;
    font-size: 2em;

    font-family: Comic Sans MS;
    font-weight: bold;
    text-align: center;

    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.label {
    position: absolute;
    top: -2em;
    opacity: 30%;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.input-box:valid + .label {
    top: -4em !important;
    opacity: 100% !important;
    transition: all 0.3s ease-in-out;
}

.input-box:valid + .label > h3 {
    font-size: 1.5em !important;
    transition: all 0.3s ease-in-out;
    content: "";
}

/* *** Content cannot be animated *** */

.text-label::before {
    content: "Leave your message here.";
}

.input-box:valid + .label > .text-label::before {
    content: "Scroll down after you're done.";
}

.moon {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 245, 152);
    border-radius: 50%;

    position: absolute;
    top: 200vh;
    left: 15%;
}

.mt {
    width: 100%;
    height: 300vh;
    background: url("./mountain.png") bottom / contain no-repeat;

    z-index: 10; /* front */
}

.display-text {
    position: absolute;
    top: 200vh;
    left:50%;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}

.abyss {
    position: absolute;
    width: 100%;
    height: 300vh;
    background-image: linear-gradient(rgb(12,18,30), rgb(0,0,0));
    top: 300vh
}

.bottom {
    position: absolute;
    top: 600vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0);

    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.skadi {
    background-image: url("./char_1012_skadi2-0.png");
    background-size: cover;
    width: 400px;
    padding-bottom: 400px;
    position: absolute;
    z-index: 50;
}


.hp-text::before, .hp-text::after {
    content: "-";
    color: white;
    margin: 0 1em 0;
}

.headArea {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 120px;
    left: 230px;
    transform: translate(-50%, -50%);
    cursor:grab;
}

.headpatGif {
    position: absolute;
    background-image: url("./headpat-hand.gif");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 106px;
    height: 115px;
    top: 100px;
    left: 230px;
    transform: translate(-50%, -50%);
    display: none;
}

.headArea:hover + .headpatGif {
    display: block !important;
}

.headArea:hover + .hp-text::before, 
.headArea:hover + .hp-text::after {
    display: none !important;
}
