body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("./suzuran_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Comic Sans MS;
    font-size:2rem;
}

.blur-bd {
    backdrop-filter: blur(10px);
}

.clock-zone {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(110, 59, 0);

    position: absolute;
    top: 75px;
    right: 100px;
}

/* click hands */

.pin-hand {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 12px;
    width: 12px;
    transform-origin:center;
    background-color: rgb(255, 178, 89);
    position: absolute;
    bottom: 50%;
    transform: translate(-50%,-50%);
    transform-origin: 100%;
    border-radius: 5px;
}

:root {
    --sec: 0s;
    --min: 0s;
    --hr: 0s;
}

.hour-hand {
    left: calc(50% - 3.5px);
    height: 60px;
    width: 7px;
    background-color: rgb(110, 59, 0);
    position: absolute;
    bottom: 50%;
    transform: translate(-50%,0);
    transform-origin: 50% 100%;
    border-radius: 5px;
    animation: spin 43200000ms infinite linear;
    animation-delay: var(--hr, 0ms);
}

.minute-hand {
    left: calc(50% - 2.5px);
    height: 80px;
    width: 5px;
    background-color: rgb(110, 59, 0);
    position: absolute;
    bottom: 50%;
    transform: translate(-50%,-50%);
    transform-origin: 50% 100%;
    border-radius: 5px;
    animation: spin 3600000ms infinite linear;
    animation-delay: var(--min, 0ms);
}

.second-hand {
    left: calc(50% - 1.5px);
    height: 120px;
    width: 3px;
    background-color: rgb(110, 59, 0);
    position: absolute;
    bottom: 50%;
    transform: translate(-50%,0);
    transform-origin: 50% 100%;
    border-radius: 5px;
    animation: spin 60000ms infinite linear;
    animation-delay: var(--sec, 0ms);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dalline{
    position: absolute;
    width: 5px;
    height: 145px;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(0,0,0,0) 7%);
    left: calc(50% - 2.5px);
    top: 50%;
    transform-origin: top;
}

.dalline:nth-of-type(1) {
    transform: rotate(30deg);
}

.dalline:nth-of-type(2) {
    transform: rotate(calc(2 * 30deg));
}

.dalline:nth-of-type(3) {
    transform: rotate(calc(3 * 30deg));
}

.dalline:nth-of-type(4) {
    transform: rotate(calc(4 * 30deg));
}

.dalline:nth-of-type(5) {
    transform: rotate(calc(5 * 30deg));
}

.dalline:nth-of-type(6) {
    transform: rotate(calc(6 * 30deg));
}

.dalline:nth-of-type(7) {
    transform: rotate(calc(7 * 30deg));
}

.dalline:nth-of-type(8) {
    transform: rotate(calc(8 * 30deg));
}

.dalline:nth-of-type(9) {
    transform: rotate(calc(9 * 30deg));
}

.dalline:nth-of-type(10) {
    transform: rotate(calc(10 * 30deg));
}

.dalline:nth-of-type(11) {
    transform: rotate(calc(11 * 30deg));
}

.dalline:nth-of-type(12) {
    transform: rotate(calc(12 * 30deg));
}

.dalline:nth-of-type(3),
.dalline:nth-of-type(6),
.dalline:nth-of-type(9),
.dalline:nth-of-type(12) {
    background-image: linear-gradient(0deg, rgb(255, 136, 0) 13%, rgba(0,0,0,0) 13%);
}

/* calandar */
.calandar-zone {
    width:600px;
    /* height: 450px; */
    border: 5px solid rgb(110, 59, 0);
    border-radius: 20px;

    position: absolute;
    bottom: 50px;
    right: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.calandar-month {
    width: auto;
    margin: 0 auto 0;
    font-weight: bold;
    font-size: 2.5rem;
}

.calandar-content {
    width: 550px;
    margin: 0 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.calandar-week {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 3rem;

    margin-top: 0.5rem;
}

.week-title::after {
    height: 2px;
    width: 552px;
    background-color: rgba(0, 0, 0, 0.438) !important;
    content: "";
    position: absolute;
    top: 110px;
}

.day-title {
    font-weight: bold;
}

.calandar-day {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: rgba(255, 137, 137, 0);
    transition: background-color 0.3s;

    font-size: 1.5rem;
}

.today {
    background-color: rgba(255, 137, 137, 0.8);
    transition: background-color 0.3s;
}

.not-current-month {
    color: rgb(97, 97, 97);
}
